.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.error {
  background: #e0a1a1;
  padding: 12px;
  transition: all 1s ease-out;
}

.counter {
  margin: 12px;
}

.counter button{
  margin: 4px 25px;
  padding: 3px 22px;
}